<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.ccr.achenglibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-sdk tools:overrideLibrary="org.xutils" />

    <application>
        <!--图片预览界面-->
        <activity
            android:name=".photopicker.activity.CCRPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择界面-->
        <activity
            android:name=".photopicker.activity.CCRPhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择预览界面-->
        <activity
            android:name=".photopicker.activity.CCRPhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
